export IDF_PATH=`pwd`/toolchain/esp-idf
export IDF_TOOLS_PATH=`pwd`/toolchain
export REPO_ROOT=`pwd`

$IDF_PATH/install.sh
. $IDF_PATH/export.sh

USER_ENV_FILE=.userenv
if [ -f $USER_ENV_FILE ]; then
    source $USER_ENV_FILE
fi